.header {
  background: linear-gradient(#cedddd, #ebefef);
  position: relative;
  width: 100vw;
  .sealContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: auto;
    display: inline-block;
    .seal1 {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%) rotate(4deg);
      z-index: 1;
    }
    .seal2 {
      position: absolute;
      top: 20%;
      left: 0;
      transform: translate(-100%, 0) rotate(-32deg);
      z-index: 1;
    }
    .seal3 {
      position: absolute;
      top: 30%;
      left: 0%;
      transform: translate(-100%, 0) rotate(-52deg);
      z-index: 1;
    }
    .seal4 {
      position: absolute;
      top: 40%;
      right: -10%;
      transform: translate(50%, 0) rotate(40deg);
      z-index: 1;
    }
  }
  .name {
    width: 90%;
    position: absolute;
    left: 50%;
    bottom: -7%;
    transform: translate(-50%, 0%);
  }
}

.intro {
  width: auto;
  height: 100%;
  max-height: 1000px;
  padding: min(10vh, 80px) 100px;
  margin: auto 0;
  display: flex;
  gap: 120px;
  .nameContainer {
    height: 100%;
    position: relative;
    border-left: 1px solid #cedddd;
    padding: 0 0 max(4vh, 24px) 48px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    &::after {
      content: "";
      display: block;
      width: 549px;
      height: 0;
      border-bottom: 1px solid #cedddd;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::before {
      content: "";
      display: block;
      width: 101px;
      height: 0;
      border-bottom: 1px solid #cedddd;
      position: absolute;
      bottom: 0px;
      left: -101px;
    }
    .line {
      height: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
    .desc {
      width: 408px;
      text-align: justify;
      font-size: 16px;
      line-height: 1.7em;
      margin-bottom: 48px;
    }
    .caption {
      font-size: 14px;
      margin-bottom: 14px;
    }
    .nameEn {
      font-size: 48px;
      line-height: 1em;
      margin-bottom: 6px;
      transform: translate(-3px, 0);
    }
    .name {
      font-size: 20px;
      line-height: 1em;
    }
  }
  .positionContainer {
    height: 100%;
    transform: translate(0, -8px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 92px;
    .hContainer {
      position: relative;
      .headingEn {
        font-size: 20px;
        line-height: 1em;
        color: var(--color--grey);
        position: absolute;
        top: -6px;
        left: 0;
        transform: translate(0, -100%);
      }
      .heading {
        font-size: 16px;
        line-height: 1em;
        white-space: nowrap;
      }
    }
    .flex {
      height: 100%;
      max-height: 700px;
      padding-bottom: max(4vh, 24px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      /* justify-content: flex-start;
      gap: min(10vh, 48px); */
      .position {
        display: inline;
        .titleContainer {
          position: relative;
          .svg {
            width: 14px;
            position: absolute;
            top: -2px;
            left: -24px;
          }
          .title {
            display: inline-block;
            font-size: 20px;
            transform: translate(0, -4px);
            line-height: 1em;
            color: var(--color--green);
            margin-bottom: 4px;
          }
        }
        .caption {
          width: 288px;
          font-size: 14px;
          line-height: 1.5em;
          text-wrap: nowrap;
        }
      }
    }
  }
}

.carrer {
  box-sizing: content-box;
  padding: 0 240px 0 200px;
  margin: 0 160px;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 0;
    height: 120vh;
    border-left: 50px solid;
    border-image: linear-gradient(#cedddd, #ebefef);
    border-image-slice: 1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) rotate(-18deg);
    z-index: -1;
  }
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 120vh;
    border-left: 50px solid;
    border-image: linear-gradient(#cedddd, #ebefef);
    border-image-slice: 1;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%) rotate(-18deg);
    z-index: -1;
  }
  .headingEn{
    font-size: 24px;
    line-height: 1em;
    color: var(--color--grey);
    position: absolute;
    transform: translate(0, 0);
    top: 10%;
    left: 10%;
  }
  .line {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .flex {
      height: 100%;
      position: relative;
      display: inline-flex;
      flex-direction: column;
      gap: 20vh;
      justify-content: center;
      align-items: flex-start;
      transform: rotate(48deg);
      transform-origin: center center;
      .relative {
        position: relative;
        .rect {
          width: 16px;
          height: 16px;
          background-color: var(--color--black);
        }
        .textContainer {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 14px;
          text-wrap: nowrap;
          display: flex;
          gap: 12px;
          transform: rotate(-48deg) translate(-100%, 0);
          transform-origin: center left;
          .text {
          }
          .year {
            margin-right: 12px;
          }
        }
        .workplace {
          text-wrap: nowrap;
          position: absolute;
          left: 0;
          top: 0;
          transform: rotate(-48deg) translate(96px, 0);
          transform-origin: center left;
          display: flex;
          flex-direction: column;
          gap: 6px;
          .jobContainer {
            display: flex;
            align-items: end;
            gap: 8px;
            .place {
              font-size: 24px;
              line-height: 1em;
              color: var(--color--blue);
              opacity: 70%;
              text-decoration: underline;
            }
            .job {
              font-size: 16px;
              line-height: 1em;
            }
          }
        }
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 200vh;
          border-left: 1px solid;
          border-image: linear-gradient(#cedddd, #ebefef);
          border-image-slice: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
        }
      }
      .period {
        font-size: 14px;
      }
    }
  }
}

.skills {
  width: auto;
  height: 100%;
  max-height: 1000px;
  padding: min(10vh, 80px) 100px;
  margin: auto 0px;
  margin-left: 100px;
  display: flex;
  align-items: flex-end;
  gap: 72px;
  .hContainer {
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 128px;
      height: 0;
      border-bottom: 1px dashed #cedddd;
      position: absolute;
      transform: translate(-100%, -50%);
      top: 50%;
      left: -32px;
    }
    .headingEn {
      font-size: 20px;
      line-height: 1em;
      color: var(--color--grey);
      position: absolute;
      transform: translate(0, 100%);
      bottom: -8px;
      left: 0;
    }
    .heading {
      font-size: 16px;
      line-height: 1.5em;
      white-space: nowrap;
    }
  }
  .skillsContainer {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-wrap: nowrap;
    .skill {
      .relative {
        position: relative;
        margin-bottom: 4px;
        .title {
          font-size: 24px;
          line-height: 1.5em;
          transform: translate(-1px,0);
        }
        .svg {
          width: 14px;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          left: -24px;
        }
      }
      .desc {
        font-size: 16px;
        line-height: 1.5em;
      }
    }
  }
}
.qa {
  width: auto;
  max-height: 1000px;
  padding: min(10vh, 80px) 100px min(10vh, 80px) 200px;
  margin: auto 0px;
  .qaContainer {
    position: relative;
    height: 100%;
    border-top: 1px solid #cedddd;
    border-right: 1px solid #cedddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      display: block;
      width: 128px;
      height: 0;
      border-bottom: 1px solid #cedddd;
      position: absolute;
      transform: translate(-100%, -100%);
      top: 0;
      left: 0;
    }
    &::after {
      content: "";
      display: block;
      width: 128px;
      height: 0;
      border-bottom: 1px solid #cedddd;
      position: absolute;
      transform: translate(100%, 100%);
      bottom: 0;
      right: 0;
    }
    .headingEn {
      font-size: 20px;
      line-height: 1em;
      color: var(--color--grey);
      position: absolute;
      transform: translate(0, -100%);
      top: -8px;
      left: 12px;
    }
    .qaContent {
      width: 600px;
      padding: 16px 16px 24px 16px;
      border-bottom: 1px solid #424446;
      transition: 0.5s ease-in-out;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .question {
          font-size: 20px;
          line-height: 1.5em;
        }
        .button {
        }
      }
      .answer {
        font-size: 16px;
        line-height: 1.7em;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
      }

      .visible {
        max-height: 500px;
        opacity: 1;
      }
    }
    .wide {
      padding: 48px 16px 48px 16px;
    }
  }
}

.future {
  width: auto;
  max-height: 1000px;
  padding: min(10vh, 80px) 200px;
  margin: auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  .hContainer {
    position: relative;
    margin-right: 148px;
    &::before {
      content: "";
      display: block;
      width: 128px;
      height: 0;
      border-bottom: 1px dashed #cedddd;
      position: absolute;
      transform: translate(-100%, -50%);
      top: 50%;
      left: -32px;
    }
    .headingEn {
      font-size: 20px;
      line-height: 1em;
      color: var(--color--grey);
      margin-bottom: 8px;
    }
    .heading {
      font-size: 16px;
      line-height: 1.5em;
      white-space: nowrap;
    }
  }
  .container {
    .title {
      font-size: 16px;
      line-height: 1.5em;
      margin-bottom: 16px;
    }
    .policyContainer {
      margin-right: 80px;
      border-left: 1px solid #cedddd;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      gap: min(5vh, 48px);
      .policy {
        padding-left: 48px;
        .relative {
          position: relative;
          .heading {
            font-size: 24px;
            line-height: 1.5em;
          }
          .number {
            font-size: 14px;
            line-height: 1.5em;
            position: absolute;
            left: -16px;
            bottom: 0;
            transform: translate(-100%, 0);
          }
        }
        .desc {
          font-size: 16px;
          line-height: 1.5em;
          text-wrap: nowrap;
          margin-bottom: 4px;
        }
        .example {
          font-size: 14px;
          line-height: 1.5em;
        }
      }
    }
  }
}

.contact {
  background: linear-gradient(#cedddd, #ebefef);
  position: relative;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  .caption{
    font-size: 24px;
    line-height: 1.5em;
    color: var(--color--white);
    &:hover{
      background-color: var(--color--blue);
    }
  }
}
