* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  overscroll-behavior: none;
}


section {
  width: 100vw;
  height: 100vh;
}