* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fontplus-font-family: "TsukuGoPr5-R-AvenirNextLTPro-Regular", sans-serif;
  --color--black: #424446;
  --color--blue: #007fff;
  --color--white: #ffffff;
  --color--green: #c4ecdb;
  --color--grey: #CEDDDD;
  --color--beige: #FEFFF1;
  --color--orange: #FF9234;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--fontplus-font-family);
  color: var(--color--black);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overscroll-behavior: none;
}

section {
  width: 1024px;
  height: 100%;
  box-sizing: border-box;
  padding: 8vh 4vw;
}