* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fontplus-font-family: "TsukuGoPr5-R-AvenirNextLTPro-Regular", sans-serif;
  --color--black: #424446;
  --color--blue: #c4ecdb;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--fontplus-font-family);
  color: var(--color--black);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  overscroll-behavior: none;
}

section {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  padding: 8vh 4vw;
}
