.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.flex {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.transitionContainer{
  position: relative;
  width: 100%;
  height: 100%;
}

.transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.absoluteArea {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  width: 100vw;
  background-color: #333;
  color: var(--color--blue);
  .container {
    position: absolute;
    left: 0;
    bottom: 0;
    .title {
      display: inline-block;
      font-size: 64px;
      line-height: 1em;
      text-transform: uppercase;
    }
    .name {
      font-size: 16px;
    }
  }
}

.about {
  .flex {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 40px;
    .textContainer {
      .caption {
        font-size: 14px;
        margin-bottom: 16px;
      }
      .nameContainer {
        .name {
          font-size: 32px;
          line-height: 1em;
          margin-bottom: 4px;
        }
        .nameEN {
          font-size: 14px;
        }
        padding-bottom: 4px;
        margin-bottom: 8px;
        border-bottom: 1px dashed var(--color--black);
      }
      .desc {
        font-size: 16px;
        margin-bottom: 24px;
      }
      .button {
        display: inline-block;
        border-radius: 50px;
        font-size: 14px;
        padding: 2px 12px 6px;
        border: 1px solid var(--color--black);
      }
    }
  }
}

.skills {
  box-sizing: content-box;
  text-align: right;
  width: 600px;
  padding-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .inline {
    display: inline-block;
    transform: translate(6.8px, 0);
    .titles {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .caption {
        font-size: 14px;
        line-height: 1em;
        display: inline-block;
      }
      .h2 {
        font-size: 64px;
        line-height: 1em;
        margin-bottom: 32px;
        transform: translate(-4.8px, 0);
        display: inline-block;
        text-wrap: nowrap;
      }
      .desc {
        font-size: 16px;
        display: inline-block;
        text-align: left;
      }
    }
  }
  .skillContainer {
    font-size: 16px;
    display: inline-block;
    .h3 {
      font-size: 40px;
      margin-bottom: 12px;
      display: inline-block;
    }
    .skill1 {
      margin-bottom: 48px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .skill2 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .p {
      margin-bottom: 8px;
      display: inline-block;
    }
  }
}

.works{
  width: 100vw;
  height: 100vh;
  background-color: var(--color--black);
}

.footer{
  .container {
    .title {
      display: inline-block;
      font-size: 64px;
      line-height: 1em;
      text-transform: uppercase;
    }
    .name {
      font-size: 16px;
    }
  }
}

.canvasContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.canvas {
  width: 100vw;
  height: 100vh;
}
