.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.flex{
  display: flex;
  flex-direction: row;
}

.section1 {
  background-color: #333;
}

.section2 {
  background-color: blue;
  
}